# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
venv/
ENV/
env/
.venv/
.Python

# Editor/IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# SQLite database
db.sqlite3

# OS files
.DS_Store
Thumbs.db

# Logs
*.log